<div>
    <div class='fixed-caption-block' ng-if="headers.fixed_tab">
        <fieldset>
            <legend>
                <strong ng-if="headers.label_row">{{headers.label_row}}</strong>
                <strong ng-if="!headers.label_row">{{'letsfw.main_information'|locale}}</strong>
            </legend>
            <div class="subtitle legendForm" ng-bind-html="headers.subtitle" ng-if="headers.isModal"></div>
            <ng-include ng-if="beforeForm != undefined" src="beforeForm"></ng-include>
            
            <ng-include src="'lets/views/crud/crud-form-input.html'" ng-init="auto_layout=headers.auto_layout; fields=headers.fields; filter={tab: 'fixed', editable: true}"></ng-include>

            <ng-include ng-if="afterForm != undefined" src="afterForm"></ng-include>
        </fieldset>
    </div>
    
    <tabset class='tab-group' ng-class="{'hide-nav': (_.size(headers.tabs) == 0 && _.size(headers.main_tabs) == 0 && _.size(headers.tabs_session) == 0)}">
        
        <tab ng-if="headers.main_tabs == undefined" heading="{{headers.label_row}}">
            <fieldset>
                <legend ng-show="_.size(headers.tabs) == 0">
                    <strong ng-if="headers.label_row">{{headers.label_row}}</strong>
                    <strong ng-if="!headers.label_row">{{'letsfw.main_information'|locale}}</strong>
                </legend>
                <div class="subtitle legendForm" ng-bind-html="headers.subtitle" ng-if="headers.isModal"></div>
                <ng-include ng-if="beforeForm != undefined" src="beforeForm"></ng-include>
                
                <ng-include src="'lets/views/crud/crud-form-input.html'" ng-init="auto_layout=headers.auto_layout; fields=headers.fields; filter={editable: true}"></ng-include>
                
                <ng-include ng-if="afterForm != undefined" src="afterForm"></ng-include>
            </fieldset>
        </tab>

        <tab ng-if="headers.main_tabs != undefined" ng-repeat="tab in headers.main_tabs" heading="{{tab.label || tab}}" disable="tab.disabled || false">
            <fieldset tabname="{{tab.id || $index}}">
                <ng-include ng-if="tab.beforeForm != undefined" src="tab.beforeForm"></ng-include>
               <ng-include src="'lets/views/crud/crud-form-input.html'" ng-init="auto_layout=headers.auto_layout; fields=headers.fields; filter={tab:(tab.id || $index), editable: true}"></ng-include>
               <ng-include ng-if="tab.afterForm != undefined" src="tab.afterForm"></ng-include>
            </fieldset>
        </tab>

        <tab ng-if="!detail.hide" ng-repeat="(detail_key, detail) in headers.tabs_session" heading="{{detail.label}}">
            <div>
                <section grid="{{detail_key}}">
                    <ng-include src="'lets/views/crud/crud-detail-list.html'"></ng-include>
                </section>
            </div>
        </tab>

        <tab ng-if="data.id != null && !tab.hide" ng-repeat="(tab_name, tab) in headers.tabs" heading="{{tab.label}}">
            <div ng-if="tab.fields && !tab.templateUrl">
                <section grid="{{tab_name}}" crud-list-table settings="{headers:tab, tab:true, url:(headers.route_detail ? headers.route_detail : tab.custom_route ? tab.custom_route : headers.route)+'/details/'+ (tab.fk_id ? data[tab.fk_id] :  data.id) +'/'+tab_name, getscope:getscope, tab_name:tab_name}"></section>
            </div>
            <div ng-if="tab.templateUrl">
                <ng-include src="tab.templateUrl"></ng-include>
            </div>
        </tab>

        <tab disabled="true" ng-if="headers.show_tabs_new && !data.id && !tab.hide" ng-repeat="(tab_name, tab) in headers.tabs" heading="{{tab.label}}">
        </tab>

    </tabset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="button" class="btn btn-big btn-inverse" ng-click="cancel()">
                    <span ng-if="!headers.buttons.cancel" class="icon fa fa-arrow-left"></span><span ng-if="!headers.buttons.cancel">{{'letsfw.cancel'|locale}}</span>
                    <span ng-if="headers.buttons.cancel.icon" class="icon fa {{headers.buttons.cancel.icon}}"></span><span ng-if="headers.buttons.cancel">{{headers.buttons.cancel.text}}</span>
                </button>
                
                <button ng-if="!headers.disabled" type="submit" class="btn btn-big btn-primary" ng-class="{'disabled': loading_http_request}">
                    <span ng-if="!headers.buttons.submit" class="icon fa fa-floppy-o" ng-show="!loading_http_request"></span>
                    <span ng-if="headers.buttons.submit.icon" class="icon fa {{headers.buttons.cancel.icon}}" ng-show="!loading_http_request"></span>
                    <i class="fa fa-spinner fa-spin" ng-show="loading_http_request"></i>
                    <span ng-if="!headers.buttons.submit">{{'letsfw.save'|locale}}</span>
                    <span ng-if="headers.buttons.submit">{{headers.buttons.submit.text}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
