<div style="margin-top: 15px;">
    <div class="filtros">
        <div class="text-right">
            <div ng-if="(!detail.settings) || (detail.settings && detail.settings.add)">
                <a class="btn btn-primary btn-new button-new" origin="tabs_session" detail="{{detail_key}}" form-modal="{{detail.modal ? true : false}}">
                    <span class="fa fa-plus"></span> {{'letsfw.new_record'|locale}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="widget-body">
    <div class="table-container">
        <table class="table detail-table table-striped no-margin mb-sm">
            <thead>
                <tr>
                    <th class="{{field.name}} {{field.customClass}}" ng-repeat="field in detail.fields | filter: {viewable: true}" ng-if="detail.modal===true">{{field.label}}</th>
                    <th ng-repeat="field in detail.fields | filter: {editable: true}" ng-if="!detail.modal">{{field.label}}</th>
                    <th ng-if="detail.settings  === undefined|| (detail.settings.edit || detail.settings.delete)"  class="editable actions">{{'letsfw.actions'|locale}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="detail_data in data[detail_key]" ng-class="{'new': detail_data.new != undefined}">
                    
                    <td class="{{field.name}} {{field.customClass}}" ng-repeat="field in detail.fields | filter: {viewable: true}" ng-if="detail.modal===true">
                        <fw-detail-data ng-if="detail.modal"></fw-detail-data>
                    </td>

                    <td ng-repeat="field in detail.fields | filter: {editable: true}" ng-if="!detail.modal">
                        <fw-input ng-if="!detail.modal" fw-data="detail_data"></fw-input>
                    </td>

                    <td ng-if="detail.settings  === undefined|| (detail.settings.edit || detail.settings.delete)" class="text-right btn-column">                
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-edit btn-default" ng-if="detail.settings  === undefined || (detail.modal===true && detail.settings.edit)" ng-click="editDetailData('tabs_session', detail_key, detail_data)" title="{{'letsfw.editar'|locale}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-delete btn-default" ng-if="detail.settings  === undefined || detail.settings.delete " ng-click="deleteDetailData(detail_data, detail_key)" title="{{'letsfw.excluir'|locale}}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!data[detail_key] || data[detail_key].length==0" class="no-data">
                    <td colspan="100%" class="text-center">
                        {{'letsfw.no_record_found'|locale}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>