<div style="display: flex; justify-content: space-between;">
    <crud-breadcrumb></crud-breadcrumb>
    <div ng-if="headers.settings.export" style="margin-right:20px;">
        <a class="btn btn-inverse list" ng-disabled="export_btn_is_disable" ng-click="export()">
            <span class="icon fa fa-share"></span>Exportar Dados
        </a>
    </div>
    <div ng-if="headers.settings.add">
        <a class="btn btn-primary btn-new" ng-click="goNew()">
            <span class="icon fa fa-plus"></span>{{'letsfw.new_record'|locale}}
        </a>
    </div>
</div>

<section grid="main" class="widget" crud-list-table settings="{headers:headers, tab:false}"></section>