<div class="form-group" ng-repeat="field in fields | filter: filter" ng-if="!auto_layout">
    <label for="{{field.name}}" ng-class="{'required':field.notnull}" class="col-sm-2 control-label no-padding">{{field.label ? field.label : "&nbsp"}}
        <span ng-if="field.required">*</span>
    </label>
    <div class="col-sm-9">
        <fw-input fw-data="data"></fw-input>
    </div>
</div>

<div class="form-group form-auto-layout" ng-repeat="field in fields | filter: filter"
    ng-class="
        field.size ? 'col-sm-'+field.size
        : field.type == 'text' ? 'col-sm-12'
        : (field.type == 'date' || field.type == 'time' || field.type == 'boolean' || ((field.type == 'number' || field.type == 'integer' || field.type == 'bigint') && !field.autocomplete)) ? 'col-sm-3'
        : 'col-sm-6'
    "
    ng-if="auto_layout">

    <label for="{{field.name}}" ng-class="{'required':field.notnull}" class="control-label">{{field.label ? field.label : "&nbsp"}}
        <span ng-if="field.required">*</span>
        <i ng-if="field.help" class="fa fa-info-circle" title="{{field.help}}" style="cursor:help; font-size:12px;"></i>
    </label>
    <fw-input fw-data="data"></fw-input>
</div>