<div class="row">
    <crud-breadcrumb></crud-breadcrumb>
      <div class="col-sm-3 col-lg-2 text-right" ng-if="headers.settings.add" style="margin-bottom: 10px;">
          <a class="btn btn-primary btn-block btn-new" ng-click="goNew()"><span class="icon fa fa-plus"></span>{{'letsfw.new_record'|locale}}</a>
      </div>
</div>
<div class="row d-flex"  style="justify-content: flex-end;">
    <div class="col-sm-3 col-lg-2 text-right"  ng-if="headers.settings.export" style="margin-bottom: 10px;">
        <a class="btn btn-primary outline-btn btn-block btn-new" ng-disabled="export_btn_is_disable" ng-click="export()"><span class="icon fa fa-share"></span>Exportar Dados</a>
    </div>
</div>

<section grid="main" class="widget" crud-list-table settings="{headers:headers, tab:false}"></section>